@import '~leaflet/dist/leaflet.css';


/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */

:root {
	--color-1: #0E4428;
	--color-2: #E9E9E9;
	--main-height: 82vh;
	--menu-height: 76px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 12px;
}

body {
	background-color: gray;
}



.leaflet-container{
	width: 100%;
	height: 100%;
  }